node_modules
.env

data\comp\comp_364_20211007_134000.csv
data\comp\compressor_364_20100601_214000.csv
data\comp\compressor_364_20211020_165000.csv
data\comp\test_result.csv

study_js
RESTAPISPILab_final.ipynb
real_time_collect_input_mongodb.ipynb
test.py
routes\test.js


mongodbtest.ipynb
get_data_v1.py
upload_mongodb.py